@using  Resources
@{

     var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    if(culture.Contains("en-us"))
    {
       ViewBag.Title = "Restore Password";

    }
    else
    {

    ViewBag.Title = "استرجاع كلمة المرور "; 
    }


    
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<style>

    .Termcod {
        background: #ffffff;
        padding: 22px 20px;
        box-shadow: -1px 6px 16px rgb(0 0 0 / 10%);
        border-radius: 10px;
        margin-top: 28px;
        padding-top: 60px;
    }
</style>


<section>

    <div class="wrapper">


            <div class="container ">


                <div class="Termcod wow animated fadeIn" data-wow-delay="0.8s">

                   
                    <div class="termtem">
                      
                                <a class="backbuton">@*نشكرك على استخدام منصة معروفة*@  @Resource.ThankyouforusingMarofahplatform</a>
                         

                      
                        <h6 class="pt-30 pb-20">

                            @Resource.passConfirm
                            @*اذا كان بريدك موجوده فى قاعدة بيانات معروفة سوف يصلك رسالة على بريدك الالكترونى تساعدك على استرجاع حسابك*@
                        </h6>
                    </div>




                </div>


                <div class="row mt-5">
                    <div class="borbo col-md-12 m-2">
                        <a href="/home"  class="backbuton">@*العودة الى الصفحة الرئيسية*@ @Resource.BackToHome</a>
                    </div>

                </div>

            </div>



    </div>

</section>