@using   Resources

@{

    
 var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    if(culture.Contains("en-us"))
    {
       ViewBag.Title = "Password Has Been Changed ";

    }
    else
    {
        ViewBag.Title = "تم تغير كلمة المرور";
     
    }



    
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<style>

    .Termcod {
        background: #ffffff;
        padding: 22px 20px;
        box-shadow: -1px 6px 16px rgb(0 0 0 / 10%);
        border-radius: 10px;
        margin-top: 28px;
        padding-top: 60px;
    }
</style>


<section>

    <div class="wrapper">


        <div class="container ">


            <div class="Termcod wow animated fadeIn" data-wow-delay="0.8s">


                <div class="termtem">

                    <a class="backbuton"> @Resource.ThankyouforusingMarofahplatform</a>



                    <h6 class="pt-30 pb-20">

                    @Resource.Yourpasswordhasbeenchanged      <a href="/account/login" class="backbuton">@Resource.ClickHere    </a>
                    </h6>
                </div>




            </div>


            <div class="row mt-5">
                <div class="borbo col-md-12 m-2">
                    <a href="/home" class="backbuton"> @Resource.BackToHome</a>
                </div>

            </div>

        </div>



    </div>

</section>