@model Marofh.Nationality

@{
    ViewBag.Title = "حذف جنسية ";
    ViewBag.Parent = "الجنسيات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="delete-page">
    <h3>سوف يتم  حذف احدى الجنسيات  :    <span style="color:red;font-weight:bold;">"@Model.NameAR"</span> هل انت متأكد من ذلك؟</h3>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="تأكيد الحذف" class="btn btn-default" /> |
            @Html.ActionLink("العودة صفحة عرض الكل", "Index", new { @class = "btn btn-default" })
        </div>
    }
</div>
