@font-face {
    font-family: 'JF-Flat';
    src: url(/content/backend/fonts/JF-Flat/JF-Flat-regular.eot);
    src: url(/content/backend/fonts/JF-Flat/JF-Flat-regular-1.eot) format('embedded-opentype'), url(/content/backend/fonts/JF-Flat/JF-Flat-regular.woff) format('woff'), url(/content/backend/fonts/JF-Flat/JF-Flat-regular.ttf) format('truetype');
}
html {
    direction: rtl;
 
}
body {
    font-family: 'Tajawal', sans-serif;
    text-align: right;
}
.slim-logo {
    font-family: 'Tajawal', sans-serif;
    font-size: 20pt;
}
    .slim-logo a {
        color: #000;
    }
.slim-navbar .nav-link span:not(.square-8) {
  
    padding-right: 5px;
}
.slim-navbar .nav-item.with-sub > a::after {
    margin-right: 5px; 
    margin-left: 0px;
}

.slim-header-right .dropdown-menu {
    margin-right: -60px !important;
}

.section-wrapper {
    direction: rtl !important;
}
label {
  
    display: flex;
}
table {
    text-align: right;
}
.delete-page {
    text-align: right;
}
.slim-header-right .dropdown-menu::before {
    right: 70px;
}.slim-header-right .dropdown-menu::after {
    right: 70px;
}
.dropdown-menu-title  {
    font-family: 'JF-Flat';
}
.dropup, .dropright, .dropdown, .dropleft {
    padding-left: 10px;
}
.dropdown-list .dropdown-link p strong {

    float: right;
}
.card-dash-one .row > div + div {
    border-right: 1px solid #dee2e6;
    border-top: 0;
}

.divtitle {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 32px;
    font-weight: bold;
    font-size: 15pt;
    color: black;
}
.vertical-divider {
   height:10px;
}

a.btn.btn-default {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.594rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 3px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: #efefef;
    color: black;
}
.slim-navbar .mega-dropdown .sub-item .section-label {
    font-family: 'JF-Flat';
    font-size: 12px;
    font-weight: bold;
    text-align: right;

}

.slim-navbar {
    padding: 0px;
    background-color: #fff;
    border-bottom: 1px solid #ced4da;
    background: #03a2a5;
}
    .slim-navbar .mega-dropdown .sub-item .section-label {
        font-family: 'Tajawal', sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: right;
    }

    .slim-navbar .mega-dropdown .sub-item .section-label {
        font-family: 'Tajawal', sans-serif;
    }

    .slim-navbar .sub-item ul a:hover, .slim-navbar .sub-item ul a:focus {
        color: #03a2a5;
        background-color: #f2f4f6;
    }
.dataTables_wrapper .dataTables_info {

    float: right !important;

}
.pagination .page-item .page-link {
    color: #495057;
    padding: 10px !important;
    width: auto;
    height: 22px !important;
    text-align: center;
    border-radius: 0;
    border-color: #ced4da;
    line-height: 3px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {


    padding: 0px !important;
  
}
.pagination .active .page-link, .pagination .active .page-link:hover, .pagination .active .page-link:focus {
    color: #fff;
    background-color: #03a2a5;
    border-color: transparent;
}
.dataTables_wrapper .dataTables_paginate {
    float: left !important;

}
table.dataTable.no-footer {
    border-bottom: 1px solid #cbc9c9 !important;
}
.table thead > tr > th, .table thead > tr > td, .table tfoot > tr > th, .table tfoot > tr > td {
    border-top: 0;
    border-bottom: 0;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #7c7c7c;
    color: #ffffff;
    letter-spacing: 0.5px;
}
.slim-pagetitle {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #343a40;
    padding-right: 10px;
    border-right: 4px solid #f39c17;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: .5px;
    border-left:0px !important;
}
.card-status p {
    margin-bottom: 0;
    color: #747272;
    font-weight: bold;
    font-size: 13px;
}
table.dataTable {
    clear: both;
    margin-top: -10px !important;
    margin-bottom: 2px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}