@model Marofh.Page
@using Resources

@{

    Layout = "~/Views/Shared/_LayoutInner.cshtml";


    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();

    if (culture.Contains("en-us"))
    {
        ViewBag.Title = Model.NameEN;
    }
    else
    {
        ViewBag.Title = Model.NameAR;

    }

}
<style>

    .Termcod {
        background: #ffffff;
        padding: 22px 20px;
        box-shadow: -1px 6px 16px rgb(0 0 0 / 10%);
        border-radius: 10px;
        margin-top: 28px;
        padding-top: 0px;
    }
 
</style>


<section>

    <div class="wrapper">


        <div class="">


            <div class="container ">


                <div class="Termcod wow animated fadeIn" data-wow-delay="0.8s">

                    <div class="termtem">

                        <h4 class="pt-30 pb-20"></h4>

                        @if (culture.Contains("en-us"))
                        {
                            <p>
                                @Html.Raw(Model.DescriptionEN)
                            </p>

                        }
                        else
                        {
                            <p>
                                @Html.Raw(Model.DescriptionAR)
                            </p>

                        }

                    </div>




                </div>


                <div class="row mt-5">
                    <div class="borbo col-md-12 m-2">
                        <a href="#" onclick="history.back()" class="backbuton"> @Resource.Back</a>
                    </div>

                </div>

            </div>





        </div>

    </div>

</section>