@{
    ViewBag.Title = "تفاصيل الرسالة";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";

}
<link href="~/Content/front/assets/css/mailpage.css" rel="stylesheet" />
<div class="container pl-0 pr-0">

    <div class="card-box readmore mt-5">

        <h6 class="page-title font-weight-bolder border-bottom pt-3 pb-3  stthead">   البريد الوارد </h6>

        <div class="email-content">

            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/93" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fathy Tawfik</h4>

                                    </div>


                                    <p>    صلح برقم معين  :  100  </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            05/03/43 09:17:13 م
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/92" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fathy Tawfik</h4>

                                    </div>


                                    <p>   سوف نقوم بارسال عامل  صيانة   </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            05/03/43 09:14:03 م
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/91" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fathy Tawfik</h4>

                                    </div>


                                    <p>   مسئولية المستأجر -- غير مسئولين عن الاصلاح   </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            05/03/43 09:13:42 م
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>

            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/90" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fesal Fathy</h4>

                                    </div>


                                    <p>     </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            04/03/43 10:44:57 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/89" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fathy Tawfik</h4>

                                    </div>


                                    <p>   مسئولية المستأجر -- غير مسئولين عن الاصلاح   </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            04/03/43 10:11:49 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/88" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fesal Fathy</h4>

                                    </div>


                                    <p>     </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            04/03/43 10:11:10 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/87" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fathy Tawfik</h4>

                                    </div>


                                    <p>   سوف نقوم بارسال عامل  صيانة   </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            28/02/43 07:59:10 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/86" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fesal Fathy</h4>

                                    </div>


                                    <p>     </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            28/02/43 07:57:43 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/85" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fathy Tawfik</h4>

                                    </div>


                                    <p>   سوف نقوم بارسال عامل  صيانة   </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            27/02/43 07:40:38 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/84" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fesal Fathy</h4>

                                    </div>


                                    <p>     </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            27/02/43 07:40:11 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/81" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fathy Tawfik</h4>

                                    </div>


                                    <p>    صلح برقم معين  :  150  </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            24/02/43 06:06:36 م
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/80" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fesal Fathy</h4>

                                    </div>


                                    <p>     </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            24/02/43 06:00:34 م
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/79" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fathy Tawfik</h4>

                                    </div>


                                    <p>    صلح برقم معين  :  100  </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            22/02/43 07:31:19 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/78" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fesal Fathy</h4>

                                    </div>


                                    <p>     </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            22/02/43 07:30:45 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/76" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fathy Tawfik</h4>

                                    </div>


                                    <p>   مسئولية المستأجر -- غير مسئولين عن الاصلاح   </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            09/02/43 07:04:36 م
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/75" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fesal Fathy</h4>

                                    </div>


                                    <p>     </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            09/02/43 07:03:56 م
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/74" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fathy Tawfik</h4>

                                    </div>


                                    <p>    صلح برقم معين  :  100  </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            07/02/43 06:54:44 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/73" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fesal Fathy</h4>

                                    </div>


                                    <p>     </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            07/02/43 06:53:03 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>

                <div class="header_comment">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <span class="count_comment"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/72" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fesal Fathy</h4>

                                    </div>


                                    <p>     </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            06/02/43 09:48:03 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>
            <div class="body_comment">

                <div class="row">
                    <ul id="list_comment" class="col-md-12">
                        <!-- Start List Comment  -->

                        <li class="box_result row">

                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <a href="/mails/details/71" class="col-md-11">

                                <div class="result_comment w-100">


                                    <div class=" ">

                                        <h4> Fathy Tawfik</h4>

                                    </div>


                                    <p>   سوف نقوم بارسال عامل  صيانة   </p>


                                    <div class="tools_comment">

                                        <i class="far fa-clock  ml-1 mr-1"></i>
                                        <span>
                                            30/01/43 07:06:43 ص
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>




                    </ul>
                </div>


            </div>




            <span class="readmore-link"></span>


        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row boxitem pt-2">
        <!--<h6 class="page-title font-weight-bolder border-bottom pb-2">-->  <!--تفاصيل الرسالة </h6>-->


        <div class="container mb-1 mt-3 ml-2">
            <div class="mb-1">
                <div class="text-bold mb-2 stylec"><i class="far fa-info-circle greenolor mr-1"></i> بيانات الراسل   </div>

            </div>

            <div class="form-row d-flex justify-content-between fsmaller messagesentdvi pl-4 pr-4 pt-4 pb-4">
                <div>

                    <i class="far fa-user-alt mr-2"></i><span><strong>  الاسم : </strong>   Fathy Tawfik </span>


                </div>
                <div>
                    <i class="far fa-mobile mr-2"></i><span class=""><strong> رقم الجوال : </strong>  غير مسموح  </span>
                </div>
                <div>
                    <i class="far fa-mobile-alt mr-2"></i><span class=""><strong> رقم الواتس اب : </strong>   غير مسموح   </span>
                </div>
                <div>
                    <i class="far fa-share-alt mr-2"></i><span class=""><strong>  البريد الالكتروني : </strong>  غير مسموح  </span>
                </div>




            </div>
        </div>

        <div class="container mt-1 w-100">
            <div class="w-100 " id="fbcomment">
                

                <div class="body_comment">

                    <div class="row">
                        <ul id="list_comment" class="col-md-12">
                            <!-- Start List Comment  -->
                            <li class="box_result row">
                                <div class="avatar_comment col-md-1">
                                    <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                                </div>
                                <div class="result_comment col-md-11">
                                    <h4> Fathy Tawfik</h4>
                                    <p>
                                        صلح برقم معين  :  100
                                    </p>
                                    <div class="tools_comment">
                                        <span>
                                            <i class="far fa-clock  ml-1 mr-1"></i>
                                            05/03/43 09:17:13 م
                                        </span>
                                    </div>

                                </div>
                            </li>




                        </ul>
                    </div>
                    <form action="/Mails/Send" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="2gqJbnGMZxbUD85fWhp9s4tVTuu7S3GviRL9KOZ_NPcddZu-FaBtTvox-U-FGubpY8CUWIjSjnPIjMamxzq16vgGl-GXRgoY7_Slpu734BiblmUjj_JJYtq8OkOHcqUcs6R3e_gKhUajMVRJdvHX2w2">                                            <div class="row mt-3 mb-2">
                            <div class="avatar_comment col-md-1">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar">
                            </div>
                            <div class="box_comment col-md-11">
                                <textarea class="commentar" id="Message" name="Message" placeholder="اضف رد" required="" oninvalid="this.setCustomValidity('من فضلك ادخل نص الرسالة اولا ')" ,="" oninput="setCustomValidity('')"></textarea>
                                <div class="box_post">

                                    <div class="pull-right">

                                        <button type="submit">رد</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="text" id="adId" name="adId" style="visibility:hidden;">
                        <input type="text" id="ReceiverID" name="ReceiverID" value="e21c4abe-0e8d-400d-9f6d-0081508c94c4" style="visibility:hidden;">
                        <input type="text" id="MailIdInModel" name="MailIdInModel" value="93" style="visibility:hidden;">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
